@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400&display=swap');

:root {
    --bottom-border: 1px solid transparent;
    --bottom-border-light: 1px solid rgba(235, 235, 235);
    --selectedColor: rgba(187, 197, 192, 0.3);
    --light-theme: #FCFCFC;
    --dark-blue-theme-main: #161D6F;
    --light-blue-theme-main: #185ADB;
    --light-blue-search-bar: #4A47A3;
    --dark-blue-search-bar: #0A1931;
    --slack-theme: #350B40;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.side-bar {
    flex: 1;
    height: 100%;
    background-color: var(--slack-theme);
    color: white
}

.side-bar img {
    transform: scale(0.8);
}

.side-bar .profile-bar {
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--bottom-border)
}

.profile-bar .avatar {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-bar .email {
    font-size: 10px;
}

.collection-container {
    padding: 1rem 0;
}

.activities {
    padding: 10px 0;
    border-bottom: var(--bottom-border);
}

.activities .view {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
}

.activities .view img {
    margin-right: 10px;
}

.collection-container {
    border-bottom: var(--bottom-border);
}

.selected {
    background-color: var(--selectedColor);

}

.main-body-container {
    flex: 4;
    height: 100%;
    background-color: white;
}

.body-container {
    display: flex;
    height: 100%;
}

.documents-list {
    flex: 1;
    height: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: var(--bottom-border-light);
    /* background-color: var(--light-blue-search-bar); */
}

.search {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search-input {
    height: 35px;
    width: 500px;
    border-radius: 4px;
    outline: none;
    padding: 0 5px;
    border: none;
    background-color: rgb(247, 247, 247);
}