@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
:root {
  --Montserrat: "Montserrat", sans-serif;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
}
.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 300px;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
.signIn-google img {
  width: 22px;
  margin-right: 5px;
}
.signIn-google {
  width: 100%;
  height: 40px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 0.1px solid black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.signIn-google:hover {
  background-color: rgba(255, 68, 0, 0.8);
  color: white;
  transition: 0.2s;
}
.signIn-google:active {
  transform: scale(0.9);
}
.Inputs {
  width: 100%;
}
.input {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: flex-start;
  background-color: rgba(128, 128, 128, 0.15);
  border-radius: 5px;
}
.input img {
  width: 17px;
  margin: 0 5px;
}
.input input {
  flex: 1;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}
.divider {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
}
hr {
  flex: 1;
  height: 0;
  opacity: 0.1;
}
.or {
  padding: 0 10px;
}
.signIn-btn {
  width: 100%;
  height: 40px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  color: white;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.signIn-btn:hover {
  background-color: rgba(255, 68, 0, 0.7);
  transition: 0.2s;
}
