.doc-container {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.language-image {
    padding: 12px 5px;
}

.language-image img {
    transform: scale(0.8);
}

.doc-title-desc .title {
    font-weight: 600;
}

.doc-title-desc .description {
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.filter {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 1rem;
    padding-left: 17px;
}

.filter img {
    padding-top: 2px;
}