.documents-list {
    flex: 1;
    /* border-right: var(--bottom-border-light); */
}

.collection-container {
    padding: 1rem 0;
    border-bottom: var(--bottom-border);
    background-color: white;
    border-radius: 10px;
    margin: 0 1rem;
    margin-bottom: 10px;
    overflow: scroll;
}

.collection-container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 600;
}

.collection-container .title .title-icon {
    display: flex;
    align-items: center;
}

.collection-container .title .title-icon img {
    margin-right: 10px;
}

.collections-list {
    padding: 0 2rem;
}