:root {
    --selectedColor: rgba(187, 197, 192, 0.7);
}

.main-popup-menu-container {
    margin-top: -4.5rem;
    margin-left: 10px;
    z-index: 10;
    position: relative;
}

.popup-menu-on {
    display: block;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.popup-menu button {
    margin: 5px;
    padding: 0 10px;
    text-align: start;
    background-color: transparent;
    border: none;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}

.popup-menu button:hover {
    background-color: var(--selectedColor);
    transition: 0.2s;
    border-radius: 3px;
}