.document-view {
    flex: 3;
    min-height: 100%;
    padding: 0 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-docDesc {
    flex: 1;
    overflow-y: hidden;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(255, 217, 91);
}

.profile-avatar img {
    width: 100%;
}

.profile p {
    font-weight: 600;
    margin-right: 10px;
}

.document-description {
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;
}

.doc-desc {
    color: grey;
}

.buttons {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.buttons img {
    transform: scale(0.9);
}

.dvBtn {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.dvBtn:hover {
    background-color: var(--selectedColor);
}

.profile-button-docDesc {
    display: flex;
}

.ProseMirror p.is-empty::before,
.ProseMirror h2.is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

.ProseMirror code.is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}